<html>
<head>
<link href="../static/sun4.css" rel="stylesheet" type="text/css">
</head>
<div align="center"><h1>教师信息管理系统</h1></div>
<div align="center"><a href="/search/?id={{Number}}">返回</a></div>
<div align=center><a class="rev" href="/search_event1/?id={{Number}}&sousuo={{teacher.Number}}">日程</a></div>
{% csrf_token %}
<h1>{{ teacher.Name }}</h1>
<ul>
    <li>基本信息:</li>
    <p>{{ teacher.Information }}</p></li>
    <li>联系方式:</li>
    <p>{{ teacher.Tel }}</p></li>
    <li>专业:</li>
    <p>{{ teacher.Profession }}</p></li>
    <li>任职:</li>
    <p>{{ teacher.Position }}</p></li>
    <li>荣誉称号:</li>
    <p>{{ teacher.Rongyu }}</p></li>
    <li>学术兼职:</li>
    <p>{{ teacher.Jianzhi }}</p></li>
    <li>研究领域:</li>
    <p>{{ teacher.Rfield }}</p></li>
    <li>基金:</li>
    <p>{{ teacher.Foundation }}</p></li>
    <li>工作经历:</li>
    <p>{{ teacher.Work }}</p></li>
    <li>教育经历:</li>
    <p>{{ teacher.Education }}</p></li>
    <li>科研成果:
    <p>{{ teacher.Research }}</p></li>
</ul>

</html>