<html>
<head>
<link href="../static/sun4.css" rel="stylesheet" type="text/css">
</head>
<div align="center"><h1>教师信息管理系统</h1></div>
<div align="center"><a href="/search/?id={{ student.Number }}">教师搜索</a></div>
<div align="center"><a href="/order_teacher/?id={{ student.Number }}">教师搜索</a></div>
<h1>
{% csrf_token %}{{ student.Name }}</h1>
<ul><li>联系方式:
<p>{{ student.Tel }}</p></li>
<li>专业:
<p>{{ student.Profession }}</p></li>
<li>学年:
<p>{{ student.Xuenian }}</p></li>
</ul>
<a href="/updata/?id={{student.Number}}">修改</a><br>
</html>