<form method="post">
{% csrf_token %} 
姓名:<br>
<textarea name="Name"  type="text" cols="5" rows="1" style="resize:none" ></textarea>
<br>联系方式:<br>
<textarea name="Tel"  type="text" cols="20" rows="1" style="resize:none"></textarea>
<br>专业:<br>
<textarea name="Profession"  type="text" cols="10" rows="1" style="resize:none"></textarea>
<br>学年:<br>
<textarea name="Xuenian"  type="text" cols="10" rows="1" style="resize:none"></textarea>
<input type="submit" value="保存"> <input type="reset" value="重填">
</form>
 